@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}



.misc_button {
    color: seashell;
    background-color: #990000;
    border-radius: 8px;
    border: none;
    text-shadow:  2px 2px 7px #000000aa;
    width: auto;
    height: 25px;
    font-weight: bold;
    padding: 0px 15px;
    vertical-align: middle;
    margin: 2px;
    display: inline-block;
}

.guide_title{
  font-weight: bolder;
}

.symbol{
  font-weight: bolder;
  font-size: 1.7em;
  font-family: "Freesentation-9Black";
}