              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseVideo" aria-expanded="false" aria-controls="panelsStayOpen-collapseVideo">
                    <strong>가이드 소개 및 가이드 영상</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseVideo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <iframe  src="https://www.youtube.com/embed/S5fL3_qjm7U?si=gqNWIrtw9iyIhM1M&amp;start=116" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/S5fL3_qjm7U?si=gqNWIrtw9iyIhM1M&amp;start=116" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
                    <div> 대략적 내용이 담긴 가이드. 1분 55초 부터 가이드 내용 나오므로 보면 좋음. </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"  aria-controls="panelsStayOpen-collapseOne">
                    <strong>사용되는 키워드</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div>
                      <div><strong>1 2 3 4 n 6 7 8 9</strong> 각 숫자에 맞는 방향키로 바뀜. 숫자로 뒤에 ~를 붙이면 꾹 누르고 있어야한다는 뜻으로 검은 화살표로 표기 됨.</div>
                      <div><strong>1. 2. 3. 4. n. 6. 7. 8. 9.</strong> 일반 용어에 숫자가 들어가는 경우 뒤에 .을 붙이는걸로 빨간 박스에 포함시킬 수 있음.</div>
                      <div><strong> - </strong>. - 는 숫자키 상단 숫자키 0 오른쪽에 있는 그 기호임.  -는 ▶로 변환되어 구현됨.</div>
                      <div><strong>LP RP LK RK AP AK AL AR </strong>. 레버 입력 버튼임. 브라이언 도발처럼 3버튼 입력은 +로 연결해서 구현하면 됨.</div>
                      <div><strong>[, ], ~ </strong>. 그 자체로 기호가 되는 것들임. 해당 기호들은 별다른 처리 없이 그대로 출력 됨.</div>
                      <div><strong>그외 기타 용어 </strong>. 부보, 대시, 금계, 웨이브 등 커맨드에 사용되지 않는 용어들은 붉은 박스에 감싼 형태로 출력됨.</div>
                    </div>
                  </div>
                    
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEnter" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <strong>엔터로 콤보 구분 가능함.</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseEnter" class="accordion-collapse collapse">
                  <div class="accordion-body">
                      엔터키를 통해 콤보를 구분 가능하며 각 콤보 마다 이미지를 개별적으로 얻을 수 있음. 예를 들어 어퍼 콤보와 컷킥 콤보 두개다 있는데 엔터로 한줄은 어퍼 콤보, 다른 한줄은 컷킥 콤보후 변환 버튼 누르면 각각 보임.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDownload" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <strong>사용 방법</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseDownload" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div>1. 커맨드를 작성한다. </div>
                    <div>2. 이미지로 변환 버튼을 누른다. </div>
                    <div>3. 다운로드 하여 해당 이미지를 활용한다. 개행을 통해 여러 콤보의 커맨드를 얻었다면 일괄 다운로드 버튼으로 동시에 다운로드할 수 있다.</div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSaveLoad" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <strong>최신 커맨드 로드</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseSaveLoad" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    이미지로 변환시 입력한 내용들이 저장되고, 이를 최신 커맨드 로드 버튼을 눌러 확인 가능함. 옛날에 작성한 커맨드를 불러오고 싶으면 해당 히스토리에서 클릭하면 불러올 수 있음.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseForceLetter" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <strong> 일반 글자로 강제로 등록</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseForceLetter" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    기본적으로 대부분 경우 그냥 타이핑해도 일반글자는 빨간 박스 안에 들어가도록 설계 했음. 하지만 만약 쓰고 싶은 일반글자가 있는데 썼는데 빨간 박스에 잘 들어가지 않을 경우 해당 글자를 "" 로 감싸면 됨.
                    <br>
                    예를 들어 adsoiu3gb끼얏후 마ㅣㄴㅇ러ㅓㅣㅏ버43ㄷ비ㅏㅓㅏㅣㅇㄴㄴ러ㅣㅁ  라는 단어를 입력하고 싶으면 
                    <br>
                    "adsoiu3gb끼얏후 마ㅣㄴㅇ러ㅓㅣㅏ버43ㄷ비ㅏㅓㅏㅣㅇㄴㄴ러ㅣㅁ" 이렇게 입력하면 잘 들어감.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseShortcut" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <strong> 단축키</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseShortcut" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <div class="">Ctrl + e : 현재 커맨드 입력창에 입력한 내용을 이미지로 변환함</div>
                    <div class="">Ctrl + s : 현재 이미지로 변환된 결과물을 일괄 다운로드 함.</div>
                    <div class="">Ctrl + h : 커맨드 히스토리 창을 엶</div>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDarkmode" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <strong> 다크모드</strong>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseDarkmode" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    우측 상단 다크모드 버튼을 누르면 배경이 어두워지며 ▶ , ~ , [ ] 와 같은 기호들이 하얀색으로 변함.
                    커맨드를 넣어야하는 곳 배경이 어둡다면 다크모드로 사용하는걸 추천.
                  </div>
                </div>
              </div>
